export(CalltouchCalls)
export(CalltouchLeads)
importFrom(httr,POST)
importFrom(httr,GET)
importFrom(httr,DELETE)
importFrom(httr,stop_for_status)
importFrom(httr,content)
importFrom(httr,add_headers)
importFrom(stats, setNames)
importFrom(tidyr, unnest_wider, unnest_longer, hoist, replace_na)
importFrom(dplyr, bind_rows, select, filter, tibble, rename, mutate, mutate_if, "%>%")
